.search-section {
  position: fixed;
  top: 70px;
  left: 250px;
  right: 0;
  padding: 15px;
  background: white;
  z-index: 800;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-container {
  margin-bottom: 15px;
}

.search-container h3 {
  font-size: 1.1rem;
  color: #d6d2d2;
  margin-bottom: 10px;
  font-weight: 500;
}

.search-container input {
  width: 200px;
  padding: 2px 70px 2px 12px;
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 0.9rem;
  background-color: white;
  color: #000;
  margin-top: 10px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 0 12px;
  margin-top: 10px;
  width: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.input-wrapper input {
  border: none;
  outline: none;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 0.9rem;
  background-color: transparent;
  color: #000;
  width: 300px;
}

.search-icon {
  color: #226be8;
  font-size: 16px;
  margin-right: 8px;
}

.search-container input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

.action-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 10px;
}

.action-buttons button {
  padding: 8px 15px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.new-product {
  border-radius: 50%;
}

@media (max-width: 992px) {
  .search-section {
    left: 0;
    top: 60px;
  }
}

@media (max-width: 768px) {
  .search-section {
    position: static;
    width: 100%;
    padding: 0 !important;
    box-shadow: none;
    margin-top: 62px;
    box-sizing: border-box;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
  }
  .input-wrapper {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    padding: 0 12px;
  }
  .input-wrapper input {
    width: 100%;
    box-sizing: border-box;
  }
  .action-buttons {
    position: static;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 12px;
    margin: 15px 20px;
  }
  .action-buttons button {
    flex: 0 0 auto;
    min-width: auto;
    padding: 18px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .action-buttons button i {
    font-size: 24px;
  }
  .action-buttons button span {
    display: none;
  }
}
